/*
Color Palette
#fffacd - Lemon chiffon
#ffffed - yellow-green
#dad0c9 - Behr Jodhpur Tan
#cfcfc4 - Pastel gray



*/
body {
    background-color: #ffffed;
}
main {
  font-family: 'Open Sans', sans-serif;
  color: #405b86;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

#title {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

#img-div {
  background-color: white;
  border: 1px solid #405b86;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#image {
  max-width: 100%;
  height: auto;
}
#img-caption {
  padding-top: 0.75em;
  font-size: 0.75em;
}

#tribute-info h2 {
  text-align: center;
}
#tribute-info ul {
  list-style: none;
  padding-left: 0;
}
#tribute-info li {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  padding-top: 0;
  padding-bottom: 1em;
  /* line-height: 1.5em; */
  /* margin: 0.7em; */
}
#tribute-info p {
  margin: 0;
}
#tribute-info li strong {
  padding-right: 1em;
}
#tribute-info h3 {
  text-align: center;
}
#tribute-link:hover {
  color: #ff496c;
}
